@{
    ViewData["Title"] = "Registro Exitoso";
}

@model Usuario


<div class="card p-5 mb-6 ">
    <p class="h4">Registro de Usuario</p>
    <hr />
    <div class="row">
        <div class="col-12">
            Se ha registro exitosamente el usuario :@Model.usuario
        </div>
    </div>
</div>